body{
    text-align: center;
    background-color: rgb(118, 63, 170);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 300px;
    font-size: large;
}
